@use "/src/styles/mixins";

.app {
    position: relative;
    max-width: 70rem;
    padding: 0 2.5rem;
    margin: auto;
}

.main {
    position: relative;
    padding-top: 3.625rem;

    @include mixins.breakpoint-tablet-up {
        display: grid;
        grid-template-columns: 1fr 4rem 1fr 2.5rem 6.25rem;
    }

    @include mixins.breakpoint-tablet-down {
        display: flex;
        flex-direction: column;
    }

    ul {
        list-style: none;

        li {
            position: relative;

            &::before {
                content: "— ";
            }
        }
    }
}

.col {
    margin-bottom: 4.4rem;
}

.full_width {
    grid-column: 1 / 4;
}

.col_1 {
    grid-column: 1 / 2;
}

.col_2 {
    grid-column: 3 / 4;
}

.col_aside {
    grid-column: 5 / 6;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.sticky {
    @include mixins.breakpoint-tablet-up {
        position: sticky;
        top: 4rem;
        align-self: start;
    }
}

.two_col_text {
    @include mixins.breakpoint-tablet-up {
        column-count: 2;
        column-gap: 2rem;
    }
}

.section_inverted_sm {
    @include mixins.breakpoint-tablet-down {
        display: flex;
        flex-direction: column-reverse;
    }
}

.link {
    display: inline-block;
    font-size: 2.25rem;
    line-height: 1;
    padding: 0.5rem 2.5rem 0.4rem;
    margin-top: 1.8rem;
    font-family: "mona_sans_condensed_bold", sans-serif;
    color: var(--lightColor);
    background-color: var(--accentColor);
    border-radius: 3rem;
    text-decoration: none;
    text-transform: uppercase;
}

.underlined {
    border-bottom: 1px solid var(--highlightColor);
}

.hightlighted {
    position: relative;
    display: inline-block;
    padding: 0 0.3rem 0.3rem;
    line-height: 0.8;      
    transform: scaleX(1.3);
    border: 1px solid transparent;
    border-radius: 3rem;
    transform-origin: left;
    // animation: 0.5s hightlight-it 2s ease both;
    transform: scaleX(1.3);
    border-color: var(--highlightColor);
}

@keyframes hightlight-it {
    0% {
        transform: none;
        border-color: transparent;
    }
    100% {      
        transform: scaleX(1.3);
        border-color: var(--highlightColor);
    }
}

.h3 {
    margin-bottom: 0;
}

ul.text_list {
    li {
        margin-bottom: 1rem;
    }
}

.center_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mixins.breakpoint-tablet-down {
        align-items: center;
    }
}

.text_wrapper {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.tag_img {
    max-width: 80%;
    margin: 2rem auto;

    @include mixins.breakpoint-tablet-down {
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.arrow_img {
    max-width: 90%;
    margin: 0 -3rem 0 auto;
    z-index: 0;

    @include mixins.breakpoint-tablet-down {
        max-width: 25rem;
        margin: -4rem auto;
        transform: rotateY(-180deg);
    }
}

.more {
    font-size: 2rem;
    line-height: 2.4rem;
    border: none;
    cursor: pointer;
}

.vertical_link {
    width: 100%;
    padding: 3rem 1rem;
    font-size: 2.25rem;
    font-family: "mona_sans_condensed_bold", sans-serif;
    line-height: 2;
    color: var(--lightColor);
    background-color: var(--accentColor);
    border-radius: 1.5rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    @include mixins.breakpoint-tablet-down {
        writing-mode: unset;
        padding: 1rem 3rem;
    }
}

.projects {
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.projects_wrapper {
    min-width: calc(300% - 5rem);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2.5rem;
    padding: 0 0 2rem;
    // scroll-snap-align: center;
    // scroll-snap-type: x mandatory;
    // max-width: calc(40rem * 3);
	// overflow: scroll;
}

.project_outer {
    flex-basis: 33%;
    flex-shrink: 0;
}

@media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
        .scroll_list li {
            animation: linear animate-projects both;
            animation-timeline: view() !important;
        }
    }
}

@keyframes animate-projects {
	0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
	100% {
		opacity: 0;
	}
}

@include mixins.breakpoint-tablet-down {
    .col_about {
        order: 0;
    }
    
    .col_button {
        order: 1;
    }

    .col_stack {
        order: 2;
    }

    .col_tag_img {
        order: 3;
    }

    .sticky {
        order: 7;
    }

    .col_projects {
        order: 4;
    }

    .col_arrow_img {
        order: 6;
    }

    .col_contacts {
        order: 5;
    }
}