@use "/src/styles/mixins";

.scroll_list_container {
    display: inline-block;
    position: relative;
    max-height: 16rem;
    padding: 6rem 20px 6rem;
    overflow-y: auto;

    @include mixins.breakpoint-tablet-down {
        display: block;
    }
}

.scroll_list {
    text-align: center;

    li {
		margin-bottom: 1rem;

        &:before {
            display: none;
        }
    }
}

@keyframes animate-it {
    0% {
        opacity: 0.15;
		font-weight: normal;
		transform: translateY(-3px);
    }
    50% {
        opacity: 1;
		font-weight: bold;
		transform: translateY(0);
    }
    100% {
        opacity: 0.15;
		font-weight: normal;
		transform: translateY(-3px);
    }
}

@media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
        .scroll_list li {
            scroll-snap-align: center;
            animation: animate-it 1.5s ease both;
            animation-timeline: view();
            animation-range: 25% 85%;
        }
    }
}
