@use "/src/styles/mixins";

.scroll_list_container {
    position: relative;

    @include mixins.breakpoint-tablet-up {
        max-height: 19rem;
        padding: 8rem 20px 8rem;
        overflow-y: auto;
    }
}

.scroll_list {
    text-align: center;

    li {
        margin-bottom: 0.7rem;

        &::before {
            display: none;
        }
    }
}
