@use "/src/styles/mixins";
@import "./styles/fonts.scss";

:root {
    --textColor: #000000;
    --accentColor: #9c7df4;
    --lightColor: #ffffff;
    --backgroundColor: #010c15;
    --scrollbarTrack: #00000078;
    --scrollbarThumb: #9c7df46e;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
    overflow-y: scroll;

    @include mixins.breakpoint-laptop-large-down {
      font-size: 14px;
    }

    @include mixins.breakpoint-laptop-down {
        font-size: 12px;
    }

    @include mixins.breakpoint-tablet-down {
        font-size: 10px;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "la_fabrique_pro_bold", Arial, Helvetica, sans-serif;
    font-weight: normal;
    overflow-wrap: break-word;
}

p {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.no-scroll {
    overflow: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.hidden {
    display: none;
}

.no_margin {
    margin: 0;
}

html {
    color: var(--lightColor);
    background-color: var(--backgroundColor);
}

#bgCanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;

    --gradient-color-1: var(--accentColor);
    --gradient-color-2: var(--backgroundColor);
    --gradient-color-3: var(--backgroundColor);
    --gradient-color-4: var(--backgroundColor);

    filter: blur(50px) brightness(75%);
    -webkit-filter: blur(50px) brightness(75%);
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
    margin: 0 0 3rem;

    @include mixins.breakpoint-tablet-down {
        font-size: 5rem;
        line-height: 1;
        margin: 0 0 2.5rem;
    }
}

h2 {
    font-size: 4rem;
    line-height: 1;
    margin: 0 0 3rem;

    @include mixins.breakpoint-tablet-down {
        font-size: 3rem;
        margin: 0 0 2rem;
    }
}

h3 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    letter-spacing: -0.025rem;
    margin-bottom: 2rem;
}

p {
    font-size: 2rem;
    line-height: 2.4rem;
}

ol,
ul {
    padding: 0;

    li {
        font-size: 2rem;
        line-height: 2.4rem;
    }
}
