@use "/src/styles/mixins";
@import "./styles/fonts.scss";

:root {
    --textColor: #000000;
    --accentColor: #9c7df4;
    --lightColor: #ffffff;
    --backgroundColor: #010c15;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
    overflow-y: scroll;

    @include mixins.breakpoint-mobile-down {
      font-size: 12px;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "la_fabrique_pro_bold", Arial, Helvetica, sans-serif;
    font-weight: normal;
    overflow-wrap: break-word;
}

p {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body {
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.no-scroll {
    overflow: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

html {
    background-color: var(--backgroundColor);
}

#bgCanvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;

    --gradient-color-1: var(--backgroundColor);
    --gradient-color-2: var(--accentColor);
    --gradient-color-3: var(--backgroundColor);

    filter: blur(50px) brightness(15%);
    -webkit-filter: blur(50px) brightness(15%);
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
    color: var(--lightColor);
    margin: 0 0 42px;
}

h2 {
    font-size: 4rem;
    line-height: 1;
    color: var(--lightColor);
    margin: 0 0 42px;
}

h3 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    letter-spacing: -0.4px;
    margin-bottom: 32px;
}

p {
    font-size: 40px;
    line-height: 44px;
}

ol,
ul {
    padding: 0;

    li {
        font-size: 32px;
        line-height: 38.4px;
        
    }
}

ul:not(.header) {
  list-style: none;

  li {
    position: relative;

    &:before {
      content: '— ';
    }
  }
}
